<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boolflix</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div id="app" class="container">
      <!-- Header -->
      <header class="top-header">
        <a href="#">
          <img class="logo"
              src="https://fontmeme.com/permalink/201126/a7a378ef081972590aec29e42b968eb0.png" alt="">
        </a>
        <div class="header-search">
          <i @click="getSearch" class="fas fa-search"></i>
          <input type="text" name="search"
            v-model="newSearch" @keyup.enter="getSearch"
            placeholder="Inserisci film o serie tv"
          >
          <!-- <button type="button" name="button" @click="getSearch">
            Cerca
            <i class="fas fa-search"></i>

          </button> -->
        </div>
      </header>
      <div class="cards-container">
        <div v-for="result in results" class="cards">
          <ul class="cards-list">
            <li>
                <div class="wrap-images">
                  <img :src="getCover(result.poster_path)" alt="">
                </div>
                <h3 class="movie-title"
                    v-if="result.title">
                    {{result.title}}
                </h3>
                <h3 class="serieTv-name"
                    v-if="result.name">
                    {{result.name}}
                </h3>
                <h4 class="movie-titleOriginal"
                    v-if="result.original_title">
                    {{result.original_title}}
                </h4>
                <h4 class="serieTv-nameOriginal"
                    v-if="result.original_name">
                    {{result.original_name}}
                </h4>
                <h5>
                  <img class="flag"
                    v-if="viewImgLanguage(result.original_language)"
                    :src="'./img/'+ result.original_language + '.png'" alt="">
                  <span v-else class="langue">
                    Lingua: {{result.original_language}}
                  </span>
                </h5>
                <h5 class="voteStar">
                  <i v-for="n in getVote(result.vote_average)" class="fas fa-star"></i>
                  <i v-for="n in 5 - getVote(result.vote_average)"class="far fa-star"></i>
                  <!-- {{result.vote_average}}  -->
                </h5>
            </li>
          </ul>
        </div>
      </div>

    </div>





    <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="./js/main.js" charset="utf-8"></script>
  </body>
</html>
