<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boolflix</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div id="app" class="container">

      <input type="text" name="search"
        v-model="newSearch" @keyup.enter="getSearch"
        placeholder="Inserisci film o serie tv"
      >
      <button type="button" name="button" @click="getSearch">
        Cerca
      </button>

      <div v-for="result in results" class="">
        <ul>
          <li>
              <img :src="getCover(result.poster_path)" alt="">
          </li>
          <li>
              <h3 v-if="result.title"> Titolo: {{result.title}} </h3>
              <h3 v-if="result.name"> Titolo: {{result.name}} </h3>
          </li>
          <li>
            <h4 v-if="result.original_title"> Titolo originale: {{result.original_title}} </h4>
            <h4 v-if="result.original_name"> Titolo originale: {{result.original_name}} </h4>
          </li>
          <li>
            <h5> Lingua:
              <img class="flag"
                v-if="viewImgLanguage(result.original_language)"
                :src="'./img/'+ result.original_language + '.png'" alt="">
              <span v-else> {{result.original_language}} </span>
            </h5>
          </li>
          <li>
            <h5> Voto:
              <i v-for="n in getVote(result.vote_average)" class="fas fa-star"></i>
              <i v-for="n in 5 - getVote(result.vote_average)"class="far fa-star"></i>
              <!-- {{result.vote_average}}  -->
            </h5>
          </li>
        </ul>
      </div>

    </div>





    <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="./js/main.js" charset="utf-8"></script>
  </body>
</html>
